---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<div class="mt-20">
  <Hr noPadding />
</div>

<div class="container mb-20 mt-28 md:mx-auto">
  <div class="flex flex-wrap items-center justify-center">
    <p class="w-full text-2xl">Marian Mrva</p>
    <p class="mt-5 w-full text-2xl text-gray-400">
      6+ years Full time JavaScript Ninja
    </p>
    <p class="mt-5 w-full text-gray-400">Brno, Czech republic</p>
    <p class="w-full text-gray-400">
      Consultancy: JavaScript | Typescript | React | NextJS | Architecture
    </p>
  </div>
  <div class="mt-5">
    <Socials />
  </div>
</div>
<footer class={`${noMarginTop ? "" : "mt-auto"}`}>
  <!-- <Hr noPadding /> -->
  <div class="footer-wrapper">
    <div class="copyright-wrapper">
      <span>Copyright &#169; Marian Mrva {currentYear}</span>
      <span class="separator">&nbsp;|&nbsp;</span>
      <span>All rights reserved.</span>
    </div>
  </div>
</footer>

<style>
  footer {
    @apply w-full;
  }
  .footer-wrapper {
    @apply flex flex-col items-center justify-between py-6 sm:py-4;
  }
  .link-button {
    @apply my-1 p-2 hover:rotate-6;
  }
  .link-button svg {
    @apply scale-125;
  }
  .copyright-wrapper {
    @apply my-2 flex flex-col items-center whitespace-nowrap sm:flex-row;
  }
  .separator {
    @apply hidden sm:inline;
  }
</style>
